<template name="dashboard">
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i
                    class="fa fa-home w3-margin-right"></i>Air Quality Index MJU</a>
        </div>
    </div>
    <br><br>
    <div class="w3-row">
        <div id="mapid"></div>
        <section style="height: 15px"></section>
        <center>[กดตำแหน่งสีแดงบนแผนที่เพื่อเลือกดูข้อมูลอากาศ]</center>


    </div>
    <div class="w3-container w3-content" style="max-width:1400px;">
        <div class="w3-row">
            <div class="w3-container w3-padding">
                <div class="w3-col m12">
                    <table>
                        <tr>
                            <td>
                                <img src="{{picaqi lastsensor.aqi}}.png" width="80px">
                            </td>
                            <td style="width: 10px">

                            </td>
                            <td>
                                <b style="font-size: 25px">
                                    {{title}}</b> <br>ห่างจากตัวท่าน {{distance}} กม.<br>

                                <p><i class="fa fa-clock-o fa-fw w3-margin-right w3-text-theme"></i>อัพเดท
                                    {{formatdatetime lastsensor.timestamp}} ({{dateago}})
                                </p>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="w3-container w3-content" style="max-width:1000px;">
        <div class="w3-row">
            <div class="w3-col m12">
                <!-- <div class="w3-card w3-round  w3-white w3-margin"> -->
                <div class="w3-row">
                    <center>
                        <div class="w3-col m4 s12">
                            <div id="aqichart" style="min-width: 100px; max-width: 320px; "></div>
                        </div>
                        <div class="w3-col m4 s6">
                            <div id="pm25chart" style="min-width: 150px; max-width: 320px; "></div>
                        </div>
                        <div class="w3-col m4 s6">
                            <div id="pm10chart" style="min-width: 150px; max-width: 320px; "></div>
                        </div>
                    </center>
                </div>

                <div class="w3-row">
                    <div class="w3-col m4 s6">
                        <div class="cc">
                            <section style="height: 25px;"></section>
                            <center>
                                <div style="font-size: 25px">CO<sub>2</sub></div>
                                <div style="font-size: 30px;color: blue;"><b>{{isnull lastsensor.co2}}</b></div>
                                <div style="font-size: 25px">PPM</div>
                            </center>
                        </div>
                    </div>
                    <div class="w3-col m4 s6">
                        <div class="cc">
                            <section style="height: 25px;"></section>
                            <center>
                                <div style="font-size: 25px">CO</div>
                                <div style="font-size: 30px;color: blue;"><b>{{isnull lastsensor.co}}</b></div>
                                <div style="font-size: 25px">PPM</div>
                            </center>
                        </div>
                    </div>

                    <div class="w3-col m4 s12">
                        <center>
                            <table style="font-size: 25px">
                                <tr>
                                    <td align="left"><img width="45px" src="icons8-thermometer-80.png">&nbsp;
                                    </td>
                                    <td style="color: blue">{{isnull lastsensor.temp}}</td>
                                    <td>&nbsp; °C</td>
                                </tr>
                                <section style="height: 10px;"></section>
                                <tr>
                                    <td align="left"><img width="45px" src="icons8-dew-point-80.png">&nbsp;</td>
                                    <td style="color: blue">{{isnull lastsensor.humi}}</td>
                                    <td>&nbsp; %</td>
                                </tr>
                                <section style="height: 10px;"></section>
                                <tr>
                                    <td align="left"><img width="45px" src="icons8-atmospheric-pressure-96.png">&nbsp;
                                    </td>
                                    <td style="color: blue">{{isnull lastsensor.kpa}}</td>
                                    <td>&nbsp; kPa</td>
                                </tr>
                            </table>
                        </center>
                    </div>

                </div>
            </div>
            <!-- </div> -->
        </div>
        <br><br>
        <div class="w3-container w3-content" style="max-width:1400px;">
            <div class="w3-row">
                <div class="w3-col m12">
                    <div class="w3-card w3-round  w3-white ">
                        <div class="w3-container w3-padding">
                            <div class="w3-row">
                                <div class="w3-col s12">
                                    <div class="w3-col l3 s4" style="padding: 1px"><button class="w3-button w3-teal"
                                            id="aqi" style="width: 100%;">AQI</button></div>
                                    <div class="w3-col l3 s4" style="padding: 1px"><button class="w3-button w3-teal"
                                            id="pm25" style="width: 100%;">PM 2.5</button></div>
                                    <div class="w3-col l3 s4" style="padding: 1px"><button class="w3-button w3-teal"
                                            id="pm10" style="width: 100%;">PM 10</button></div>
                                    <div class="w3-col l3 s4" style="padding: 1px"><button class="w3-button w3-teal"
                                            id="co2" style="width: 100%;">CO2</button></div>
                                    <div class="w3-col l3 s4" style="padding: 1px"><button class="w3-button w3-teal"
                                            id="co" style="width: 100%;">CO</button></div>
                                    <div class="w3-col l3 s4" style="padding: 1px"><button class="w3-button w3-teal"
                                            id="temp" style="width: 100%;">TEMPERATURE</button></div>
                                    <div class="w3-col l3 s4" style="padding: 1px"><button class="w3-button w3-teal"
                                            id="humi" style="width: 100%;">HUMIDITY</button></div>
                                    <div class="w3-col l3 s4" style="padding: 1px"><button class="w3-button w3-teal"
                                            id="kpa" style="width: 100%;">PRESSURE</button></div>

                                </div>
                            </div>
                            <div class="w3-row">
                                <div class="w3-col s12">
                                    <div id="his" style="min-width: 100px; margin: 0 auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="w3-row">
            <div class="w3-col m12">
                <div class="w3-card w3-round  w3-white w3-margin">
                    <div class="w3-container w3-padding">
                        <div class="w3-responsive">
                            <table align="center" width="100%" border="1" cellpadding="8px" cellspacing="1"
                                bgcolor="#000">
                                <tr bgcolor="#fff" border="0" align="center">
                                    <th width="10%">
                                        <b>AQI</b>
                                    </th>
                                    <th width="20%">
                                        <b>ความหมาย</b>
                                    </th>
                                    <th width="10%">
                                        <b>สีที่ใช้</b>
                                    </th>
                                    <th width="40%">
                                        <b>ข้อความแจ้งเตือน</b>
                                    </th>
                                </tr>
                                <tr bgcolor="#3bccff" align="center">
                                    <td>0 - 25</td>
                                    <td>คุณภาพอากาศดีมาก</td>
                                    <td>ฟ้า</td>
                                    <td align="left">คุณภาพอากาศดีมาก เหมาะสำหรับกิจกรรมกลางแจ้งและการท่องเที่ยว</td>
                                </tr>
                                <tr bgcolor="#92d050" align="center">
                                    <td>26 - 50</td>
                                    <td>คุณภาพอากาศดี</td>
                                    <td>เขียว</td>
                                    <td align="left">คุณภาพอากาศดี สามารถทำกิจกรรมกลางแจ้งและการท่องเที่ยวได้ตามปกติ
                                    </td>
                                </tr>
                                <tr bgcolor="#ffff00" align="center">
                                    <td>51 - 100</td>
                                    <td>ปานกลาง</td>
                                    <td>เหลือง</td>
                                    <td align="left"><u>ประชาชนทั่วไป :</u> สามารถทำกิจกรรมกลางแจ้งได้ตามปกติ<br />
                                        <u>ผู้ที่ต้องดูแลสุขภาพเป็นพิเศษ :</u> หากมีอาการเบื้องต้น เช่น ไอ หายใจลำบาก
                                        ระคายเคืองตา ควรลดระยะเวลาการทำกิจกรรมกลางแจ้ง
                                    </td>
                                </tr>
                                <tr bgcolor="#ffa200" align="center">
                                    <td>101 - 200</td>
                                    <td>เริ่มมีผลกระทบต่อสุขภาพ</td>
                                    <td>ส้ม</td>
                                    <td align="left"><u>ประชาชนทั่วไป :</u> ควรเฝ้าระวังสุขภาพ ถ้ามีอาการเบื้องต้น เช่น
                                        ไอ หายใจลำบาก ระคายเคืองตา ควรลดระยะเวลาการทำกิจกรรมกลางแจ้ง
                                        หรือใช้อุปกรณ์ป้องกันตนเองหากมีความจำเป็น<br />
                                        <u>ผู้ที่ต้องดูแลสุขภาพเป็นพิเศษ :</u> ควรลดระยะเวลาการทำกิจกรรมกลางแจ้ง
                                        หรือใช้อุปกรณ์ป้องกันตนเองหากมีความจำเป็น ถ้ามีอาการทางสุขภาพ เช่น ไอ หายใจลำบาก
                                        ตาอักเสบ แน่นหน้าอก ปวดศีรษะ หัวใจเต้นไม่เป็นปกติ คลื่นไส้
                                        อ่อนเพลีย ควรปรึกษาแพทย์
                                    </td>
                                </tr>
                                <tr bgcolor="#ff3b3b" align="center">
                                    <td>201 ขึ้นไป </td>
                                    <td>มีผลกระทบต่อสุขภาพ</td>
                                    <td>แดง</td>
                                    <td align="left">ทุกคนควรหลีกเลี่ยงกิจกรรมกลางแจ้งทุก
                                        หลีกเลี่ยงพื้นที่ที่มีมลพิษทางอากาศสูง หรือใช้อุปกรณ์ป้องกันตนเองหากมีความจำเป็น
                                        หากมีอาการทางสุขภาพควรปรึกษาแพทย์</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="w3-row">
            <div class="w3-col m12">
                <div class="w3-card w3-round  w3-white w3-margin">
                    <div class="w3-container w3-padding">
                        <div class="w3-container">
                            <h2 style="display: inline-block">ประวัติย้อนหลัง</h2>
                            <!-- <p>Tabs are perfect for single page web applications, or for web pages capable of displaying different subjects. Click on the links below.</p> -->
                        </div>
                        <div class="w3-row">
                            <div class="w3-col s12 l4 w3-padding">
                                <select class="w3-select" name="option" id="staion">
                                    <option value="" disabled selected>เลือกสถานี</option>
                                    {{#each lastdata}}
                                    <option value="{{_id}}-{{station_name}}">[{{_id}}] {{station_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="w3-col s6 l4 w3-padding">
                                <select class="w3-select" name="option" id="year">
                                    <option value="" disabled selected>เลือกปี</option>
                                    <option value="2019">2562</option>
                                    <option value="2020">2563</option>
                                    <option value="2021">2564</option>
                                    <option value="2022">2565</option>
                                    <option value="2023">2566</option>
                                    <option value="2024">2567</option>
                                    <option value="2025">2568</option>
                                    <option value="2026">2569</option>
                                    <option value="2027">2570</option>
                                </select>
                            </div>
                            <div class="w3-col s6 l4 w3-padding">
                                <select class="w3-select" name="option" id="mouth">
                                    <option value="" disabled selected>เลือกเดือน</option>
                                    <option value="01">1</option>
                                    <option value="02">2</option>
                                    <option value="03">3</option>
                                    <option value="04">4</option>
                                    <option value="05">5</option>
                                    <option value="06">6</option>
                                    <option value="07">7</option>
                                    <option value="08">8</option>
                                    <option value="09">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <center><button class="w3-button w3-teal" id="find">ค้นหา</button>
                                <button class="w3-button w3-teal" id="dexcel"
                                    style="display: inline-block;right:0px;">ดาวน์โหลด excel</button>
                            </center>

                        </div>
                        <br>
                        {{#if history}}
                        <div class="w3-responsive">
                            <table class="w3-table-all">

                                <tr>
                                    <th></th>
                                    <th>AQI</th>
                                    <th>PM2.5</th>
                                    <th>PM10</th>
                                    <th>CO</th>
                                    <th>CO2</th>
                                    <th>TEMPERATURE</th>
                                    <th>HUMIDITY</th>
                                    <th>PRESSURE</th>
                                </tr>
                                {{#each history}}
                                <tr>


                                    <td>{{formatdatetime data.timestamp}}</td>
                                    <td>{{data.aqi}}</td>
                                    <td>{{data.pm25}}</td>
                                    <td>{{data.pm10}}</td>
                                    <td>{{data.co}}</td>
                                    <td>{{data.co2}}</td>
                                    <td>{{data.temp}}</td>
                                    <td>{{data.humi}}</td>
                                    <td>{{data.kpa}}</td>

                                </tr>
                                {{/each}}
                            </table>
                        </div>
                        {{/if}}
                        <script>
                            function openCity(cityName) {
                                var i;
                                var x = document.getElementsByClassName("city");
                                for (i = 0; i < x.length; i++) {
                                    x[i].style.display = "none";
                                }
                                document.getElementById(cityName).style.display = "block";
                            }
                        </script>




                    </div>
                </div>
            </div>
        </div>

    </div>

    <br>

    <footer class="w3-container w3-theme-d5">
        <p>คณะวิศวกรรมและอุตสาหกรรมเกษตร มหาวิทยาลัยแม่โจ้ </p>
    </footer>

    <script>
        // Accordion
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</template>