html,
body,
h1,
h2,
h3,
h4,
h5,
b,
i,
u {
    font-family: 'K2D', sans-serif;
    /* text-shadow: 2px 2px 2px #aaa; */
}

#mapid {
    height: 300px;
    z-index: 0;
}

.cc {
    background-image: url("cc.png");
    background-size: 180px 180px;
    background-repeat: no-repeat;
    height: 170px;
    background-position: center;
}

.w3-container,
.w3-panel {
    padding: 0px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    background-color: #f3f3f3;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  .preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(238, 238, 238);
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }